<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
  <div id="app">
     全选：<input type="checkbox" v-model="all">
     <hr>
     <input type="checkbox" v-model="val.checked" v-for="(val,key) in arr">{{arr}}
  </div>
    <script> 
   new Vue({
       el:'#app',
       data:{
           arr:[
               {
                checked:false
               },
               {
                 checked:false
               },
               {
                checked:false
               },
               {
                checked:false
               }
           ]
       },
       computed:{
           all:{
               get(){
                   //获取时候执行的操作
                   return this.arr.every(e=>e.checked);
               },
               set(newValue){
                //修改时候执行的操作
                    return this.arr.forEach(e=>e.checked = newValue)
               }
           }
        }
   });
    </script>
</body>
</html>